apiVersion: apps/v1
kind: Deployment
metadata:
  name: furweb-deployment
  labels:
    app: furweb
spec:
  replicas: 2
  selector:
    matchLabels:
      app: furweb
  template:
    metadata:
      labels:
        app: furweb
    spec:
      imagePullSecrets:
      - name: dockerhub-secret
      containers:
      - name: furweb-container
        image: tanmoy037/furweb:latest
        ports:
        - containerPort: 3000
        - containerPort: 5000

